# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Flask
instance/
*.log
*.pot
*.mo
*.swp

# Virtualenv
.venv/
env/
venv/
ENV/

# PyCharm project files
.idea/

# VS Code project files
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Log files
*.log

# Operating system files
.DS_Store
Thumbs.db

# Requirements file
*.txt

# Loco file (if you have one)
*.loco

# Secret and config files (if you decide to use later)
config.py
