<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Admin Dashboard</h1>
    </header>
    <div class="container">
        <p>Welcome, {{ current_user.username }}</p>
        <nav>
            <ul>
                <li><a href="{{ url_for('manage_users') }}">Manage Users</a></li>
                <li><a href="{{ url_for('manage_prices') }}">Manage Price Lists</a></li>
                <li><a href="{{ url_for('admin_logout') }}">Logout</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>
