{% extends "base/base.html" %}

{% block content %}
<div class="container">
    <h2>{{ _('Order Changes History') }}</h2>
    
    {% if changes %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{{ _('Order ID') }}</th>
                    <th>{{ _('Article') }}</th>
                    <th>{{ _('Change Type') }}</th>
                    <th>{{ _('Old Value') }}</th>
                    <th>{{ _('New Value') }}</th>
                    <th>{{ _('Change Date') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for change in changes %}
                <tr>
                    <td>{{ change.order_id }}</td>
                    <td>{{ change.article }}</td>
                    <td>
                        {% if change.field_changed == 'article' %}
                            {{ _('Article Number Change') }}
                        {% elif change.field_changed == 'price' %}
                            {{ _('Price Change') }}
                        {% endif %}
                    </td>
                    <td>{{ change.old_value }}</td>
                    <td>{{ change.new_value }}</td>
                    <td>{{ change.change_date.strftime('%Y-%m-%d %H:%M') }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="alert alert-info">
        {{ _('No changes found.') }}
    </div>
    {% endif %}
</div>
{% endblock %}