<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/admin">Admin</a></li>
            </ul>
        </nav>
    </header>
	<div class="container">
		<h1>Admin Panel</h1>

		<!-- Кнопки для переходу -->
		<div class="button-container">
			<a href="/admin/assign_roles" class="button">Assign Roles</a>
			<a href="/admin/upload_price_list" class="button">Upload Price List</a>
		</div>
	</div>
</body>
</html>
