<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/cart">Cart</a></li>
				<li><a href="/orders">Orders</a></li>
			</ul>
		</nav>
	</header>
    <div class="container">
        <h1>Your Orders</h1>
        
        <!-- Перевірка даних -->
        <div>
            <h2>Diagnostic Information:</h2>
            <pre>{{ orders }}</pre>
        </div>
        
        {% if orders %}
        <table>
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Total Price</th>
                    <th>Order Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.total_price }}</td>
                    <td>{{ order.order_date }}</td>
                    <td>
                        <a href="/order_details/{{ order.id }}">View Details</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No orders found. Place an order to see it here.</p>
        {% endif %}
    </div>
</body>
</html>
