
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Project{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Додому</a></li>
                <li><a href="/client/cart">Кошик</a></li>
                <li><a href="/client/my-orders">Мої замовлення</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 My Project</p>
    </footer>
    <script src="/static/js/scripts.js"></script>
</body>
</html>
